.game-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 12px;
    /* um pouco menos que 15px */
    text-align: center;
    margin: 12px;
    /* margem reduzida */
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-card img {
    width: 100%;
    height: 280px;
    /* reduzido de 350px para 280px */
    object-fit: cover;
    border-radius: 8px;
}

.game-card h3 {
    font-size: 1.5rem;
    /* reduzido de 1.8rem para 1.5rem */
    margin-top: 12px;
    /* margem reduzida */
    flex-grow: 1;
}

.games-wrapper {
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0px 25px rgb(57, 116, 204);
    padding: 12px;
    /* reduzido de 15px para 12px */
}

.games-wrapper h2 {
    font-size: 2.5rem !important;
    /* reduzido de 3rem para 2.5rem */
    font-weight: 500;
    text-align: center;
    background: linear-gradient(90deg, #007bff, #ff69b4);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientFade 2s ease infinite;
    margin-bottom: 25px;
    /* reduzido */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    line-height: 1.2;
    padding-bottom: 10px;
    overflow: visible;
}

@keyframes gradientFade {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}