/* Estilos Gerais */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, sans-serif;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}

/* Estrutura principal */
main {
  flex: 1 0 auto;
}

/* Navbar */
.navbar {
  padding: 15px;
  position: sticky;
  top: 0;
  backdrop-filter: saturate(180%) blur(10px);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1000;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-nav .nav-link {
  font-size: 1rem;
}

/* Banner */
header {
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: white;
  padding: 50px 0;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

header p {
  font-size: 1.2rem;
}

/* Seção de Jogos */
.game-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  background-color: #fff;
  height: auto;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.game-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.game-card h3 {
  font-size: 1.2rem;
  margin-top: 8px;
  flex-grow: 1;
}

.btn-buy {
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.1s ease;
  cursor: pointer;
}

.btn-buy:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.btn-buy:active {
  transform: scale(0.95);
  box-shadow: none;
}

/* Seção de Contato */
#contact .form-control {
  margin-bottom: 15px;
}

/* Rodapé */
.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  flex-shrink: 0;
}

.footer a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.footer a:hover {
  text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }

  .game-card {
    margin: 10px 0;
  }
}

/* Permite submenu aparecer ao passar o mouse */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -0.25rem;
  display: none;
  position: absolute;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
